html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  color: #222;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

a,
a:link {
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav > ol > li {
  list-style-type: none;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

main {
  font-family: "PT Serif",serif;
}

figcaption {
  font-family: "PT Serif",serif;
  font-style: italic;
  text-align: center;
}

p.bold {
  font-weight: bold;
}

main > blockquote > p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

main > blockquote > cite {
  font-size: .8rem;
  font-weight: normal;
}

h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
