html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #222;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

a,
a:link {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav > ol > li {
  list-style-type: none;
  font-weight: bold;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif",serif;
  font-style: italic;
}

p.bold {
  font-weight: bold;
}
